<footer class="container__footer">
  <img class="logo__footer" src="../../assets/img/logo_main_page.jpg">
  <section class="info">
    <ul>
      <li><a href="#">Quienes Somos</a></li>
      <li><a href="#">Politica de privacidad</a></li>
      <li><a href="#">Programa de fidelidad</a></li>
      <li><a href="#">Nuestras Tiendas</a></li>
      <li><a href="#">Quiero ser franquiciado</a></li>
      <li><a href="#">Anuncie aqui</a></li>
    </ul>
  </section>
  <section class="contacto">
    <h2>Hable con nosotros</h2>
    <input class="name" type="text" name="name" placeholder="Escribe tu nombre">
    <textarea class="message" name="menssage" placeholder="Escribe tu mensaje"></textarea>
    <button type="button">Enviar mensaje</button>
  </section>
  <div class="creator">
    <p class="creator__text">Creado por Yonatan Rojas </p>
    <p class="creator__text">&#169;Derechos reservados 2022</p>
  </div>
</footer>
