<header class="header__main">
  <img src="../../assets/img/logo_main_page.jpg" alt="logo">
  <div class="search">
    <form action="#">
      <input class="navegation__bar" type="text" placeholder="¿Que desea Buscar?" name="search">
      <button>
        <i class="fa fa-magnifying-glass fa-5x"></i>
        Buscar
      </button>
    </form>
  </div>
</header>

<main class="container">
  <div class="login__container">
    <h4>Iniciar Sesion</h4>
    <input class="mail" type="email" placeholder="Ingrese el Correo" >
    <input class="password" type="password" placeholder="Ingrese la contraseña">
    <button class="button" type="submit">Iniciar sesion</button>
    <a href="#">Nueva Cuenta</a>
    <a href="#">¿Olvidaste tu contraseña?</a>
  </div>
</main>
