<header class="header__main">
  <img class="logo" src="../../assets/img/logo_main_page.jpg" alt="logo">
  <div class="search">
    <form action="#">
      <input class="navegation__bar" type="text" placeholder="¿Que desea Buscar?" name="search">
      <button>
        <i class="fa fa-magnifying-glass fa-5x"></i>
        Buscar
      </button>
    </form>
  </div>
  <button class="home"
  [routerLinkActive]="['active']"
  [routerLink]="['/home']">Pagina comercial</button>
</header>

<main class="container">
  <section class="second__header">
    <h2>Todos los productos</h2>
    <button class="add__products"
    [routerLinkActive]="['active']"
    [routerLink]="['/addProduct']">Agregar Producto</button>
  </section>
  <section class="products">
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer1.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer2.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer3.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer4.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer5.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer6.jpg">
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/akame_ga_kill1.jpg">
      <p class="description">Un gremio de Asesinos busca la liberacion de un reino donde solo
        hay oscuridad y ... gente rica.
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece1.jpg">
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece2.jpg">
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece3.jpg">
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn1.jpg">
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn2.jpg">
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>

    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn3.jpg">
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn4.jpg">
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn5.jpg">
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family1.jpg">
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family2.jpg">
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family3.jpg">
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>borrar</button>
      <button>Editar</button>
    </div>
    <div class="product__item" *ngFor="let product of products">
      <img class="img__product" src="{{product.image}}">
      <h5 class="name__product">{{product.name}}</h5>
      <p class="categori description">categoria: {{product.categori}}</p>
      <p class="description">{{product.description}}</p>
      <h5 class="precio">Precio: ${{product.price}}</h5>
      <button>Borrar</button>
      <button>Editar</button>
    </div>
  </section>
</main>
