<header class="header__main">
  <img class="logo" src="../../assets/img/logo_main_page.jpg" alt="Logo">
  <div class="search">
    <form action="#">
      <input class="navegation__bar" type="text" placeholder="¿Que desea Buscar?" name="search">
      <button class="search__product">
        <i class="fa fa-magnifying-glass fa-5x"></i>
        Buscar
      </button>
    </form>
  </div>
  <nav class="navegation">
    <ul class="list__main">
      <li class="list__item"><a class="login__main" [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar sesion</a></li>
    </ul>
  </nav>
</header>
<main class="main__container">
  <section class="info__main container">
    <div class="info__container">
      <h2 class="title">Mangas por amor al Anime</h2>
      <p class="description">Poseemos las ultimas novedades en mangas de el pais, tomos populares que tuvieron exito
      en japon y incluso tomos no tan populares pero con gran desarrollo de trama para que puedan disfrutar
      </p>
    </div>
  </section>
  <h5 class="section__title">Populares</h5>
  <section class="mangas__populars container">
    <div class="slider">
      <ul>
        <li>
          <img class="popular__img" src="../../assets/img/demon_slayer1.jpg" alt="demon slayer tomo 1">
          <img class="popular__img" src="../../assets/img/demon_slayer2.jpg">
        </li>
        <li>
          <img class="popular__img" src="../../assets/img/spy_family1.jpg" alt="spyxfamily tomo 1">
          <img class="popular__img" src="../../assets/img/spy_family2.jpg">
        </li>
        <li>
          <img class="popular__img" src="../../assets/img/we_never_learn1.jpg" alt="we Never Learn 1">
          <img class="popular__img" src="../../assets/img/we_never_learn2.jpg">
        </li>
      </ul>
    </div>
  </section>

  <h5 class="section__title">Mangas</h5>
  <section class="products__main container">
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer1.jpg">
      <h5 class="name__product">Demon slayer tomo 1</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer2.jpg">
      <h5 class="name__product">Demon slayer tomo 2</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer3.jpg">
      <h5 class="name__product">Demon slayer tomo 3</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer4.jpg">
      <h5 class="name__product">Demon slayer tomo 4</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer5.jpg">
      <h5 class="name__product">Demon slayer tomo 5</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/demon_slayer6.jpg">
      <h5 class="name__product">Demon slayer tomo 6</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Manga de cazadores de demonios donde un joven emprende un viaje para encontrar una cura para su hermana que es un demonio.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/akame_ga_kill1.jpg">
      <h5 class="name__product">Akame ga kill tomo 1</h5>
      <p class="categori description">categoria: Seinen</p>
      <p class="description">Un gremio de Asesinos busca la liberacion de un reino donde solo
        hay oscuridad y ... gente rica.
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece1.jpg">
      <h5 class="name__product">One piece tomo 1</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece2.jpg">
      <h5 class="name__product">One piece tomo 2</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/one_piece3.jpg">
      <h5 class="name__product">One piece tomo 3</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">Un joven muchacho emprende una aventura para encontrar el
        mas grande tesoro jamas creado, el ONE PIECE.</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn1.jpg">
      <h5 class="name__product">We never learn tomo 1</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn2.jpg">
      <h5 class="name__product">We never learn tomo 2</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn3.jpg">
      <h5 class="name__product">We never learn tomo 3</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn4.jpg">
      <h5 class="name__product">We never learn tomo 4</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/we_never_learn5.jpg">
      <h5 class="name__product">We never learn tomo 5</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">En una secundaria se encuentran dos chicas genios
        que sufren por tener bajas notas en unas materias, y para ayudarlas a ellas y a otras chicas aparece un
        chico con poca fijacion en las mujeres...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family1.jpg">
      <h5 class="name__product">Spy x family tomo 1</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...
      </p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family2.jpg">
      <h5 class="name__product">Spy x family tomo 2</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item">
      <img class="img__product" src="../../assets/img/spy_family3.jpg">
      <h5 class="name__product">Spy x family tomo 3</h5>
      <p class="categori description">categoria: Shonen</p>
      <p class="description">El mejor Espia del mundo es asignado a cumplir una mision que
        podria salvar millones de vidas, pero para realizarla el debera.... ¿formar una familia?...</p>
      <h5 class="precio">Precio: $700</h5>
      <button>Comprar</button>
    </div>
    <div class="product__item" *ngFor="let product of products">
      <img class="img__product" src="{{product.image}}">
      <h5 class="name__product">{{product.name}}</h5>
      <p class="categori description">categoria: {{product.categori}}</p>
      <p class="description">{{product.description}}</p>
      <h5 class="precio">Precio: ${{product.price}}</h5>
      <button>Comprar</button>
    </div>
  </section>
</main>
